.Toastify__toast-container {
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin: 4px 8px 2px;
  }
}
.Toastify__toast {
  font-family: iranyekan;
  border-radius: 25px;
}

.Toastify__toast-body {
  padding: 0;
}
